/* You can add global styles to this file, and also import other style files */
body{
    background: #000000;
}
.owl-carousel .owl-item img{
    height: 250px !important;
    border: 2px solid #cdd646;
}
.owl-carousel .owl-item{
    cursor: pointer;
}
.owl-theme.owl-carousel{
    width: 80%;
    margin: 0 auto;
    z-index: 100;
}
.owl-carousel .owl-stage-outer{
   width: 101%;
}
.owl-nav{
    position: absolute;
    top: calc(50% - 50px);
    width: 100%;
    z-index: 0;
}
.owl-prev{
    position: absolute;
    left: -30px;
    background: #4c4747 !important;
}
.owl-next{
    position: absolute;
    right: -30px;
    background: #4c4747 !important;
}
.owl-prev span,.owl-next span{
    color: #ffffff;
    font-size: 50px;
}

@media(max-width:480px){
    .owl-carousel .owl-item img{
    margin: 0 auto;
    width: 90% !important;
    }
}
